<form class="p-grid ui-fluid" [formGroup]="form">
  <div class="p-col-12 p-md-3">
    <app-book-cover
      src="{{ form.value['cover'] }}"
      alt="/assets/images/no_book_cover.jpg"
    ></app-book-cover>
  </div>
  <div class="p-col-12 p-md-9 fields">
    <div class="p-grid ui-fluid">
      <b class="p-col-12 p-md-2">Название *:</b>
      <div class="p-col-12 p-md-6">
        <input pInputText type="text" formControlName="title" placeholder="Обязательное поле"/>
      </div>
      <div class="p-col-12 p-md-4">
        <p-message severity="error" text="Обязательное поле"
          *ngIf="!form.controls['title'].valid && form.controls['title'].enabled"></p-message>
      </div>
    </div>
    <div class="p-grid ui-fluid">
      <b class="p-col-12 p-md-2">Обложка книги:</b>
      <div class="p-col-12 p-md-6">
        <input pInputText type="text" formControlName="cover" placeholder="Ссылка на обложку"/>
      </div>
      <div class="p-col-12 p-md-4">
        <p-message severity="error" text="Должно быть ссылкой"
          *ngIf="!form.controls['cover'].valid && form.controls['cover'].enabled"></p-message>
      </div>
    </div>
    <div class="p-grid ui-fluid">
      <b class="p-col-12 p-md-2">Описание *:</b>
      <div class="p-col-12 p-md-6">
        <textarea pInputTextarea type="text" formControlName="description" placeholder="Обязательное поле" [rows]="6"></textarea>
      </div>
      <div class="p-col-12 p-md-4">
        <p-message severity="error" text="Обязательное поле"
          *ngIf="!form.controls['description'].valid && form.controls['description'].enabled"></p-message>
      </div>
    </div>
    <div class="p-grid ui-fluid">
      <b class="p-col-12 p-md-2">Автор *:</b>
      <div class="p-col-12 p-md-6">
        <input pInputText type="text" formControlName="author" placeholder="Обязательное поле"/>
      </div>
      <div class="p-col-12 p-md-4">
        <p-message severity="error" text="Обязательное поле"
          *ngIf="!form.controls['author'].valid && form.controls['author'].enabled"></p-message>
      </div>
    </div>
    <div class="p-grid ui-fluid">
      <b class="p-col-12 p-md-2">Код ISBN *:</b>
      <div class="p-col-12 p-md-6">
        <input pInputText type="text" formControlName="isbn" placeholder="Обязательное поле"/>
      </div>
      <div class="p-col-12 p-md-4">
        <p-message severity="error" text="Должно быть кодом ISBN"
          *ngIf="!form.controls['isbn'].valid && form.controls['isbn'].enabled"></p-message>
      </div>
    </div>
    <div class="p-grid ui-fluid">
      <b class="p-col-12 p-md-2">Год издания *:</b>
      <div class="p-col-12 p-md-6">
        <input pInputText type="number" formControlName="year" placeholder="Обязательное поле"/>
      </div>
      <div class="p-col-12 p-md-4">
        <p-message severity="error" text="Обязательное поле"
          *ngIf="!form.controls['year'].valid && form.controls['year'].enabled"></p-message>
      </div>
    </div>
    <div class="p-grid ui-fluid">
      <b class="p-col-12 p-md-2">Рейтинг:</b>
      <div class="p-col-12 p-md-6">
        <p-rating formControlName="rating" [cancel]="false"></p-rating>
      </div>
    </div>
  </div>
</form>
