<app-book-form></app-book-form>
<div class="p-grid">
  <div class="p-col-9 p-offset-3">
    <p-button styleClass="ui-button-raised" label="Добавить книгу"
      (onClick)="addBook()" [disabled]="bookForm.form.invalid"></p-button>
  </div>
</div>
