<div class="p-grid" *ngFor="let book of books; index as i;" [routerLink]="['/books/', i]">
  <div class="p-col-10">{{ book.title }}</div>
  <p-rating class="p-col-2" [(ngModel)]="book.rating" [cancel]="false" readonly="true"></p-rating>
</div>
