<app-book-form></app-book-form>
<div class="p-grid">
  <div class="p-col-9 p-offset-3">
    <p-button styleClass="ui-button-raised ui-button-secondary" label="Редактировать книгу"
      [disabled]="bookForm.form.enabled" (onClick)="editBook()"></p-button>
    <p-button label="Сохранить изменения" styleClass="ui-button-raised ui-button-success"
      [disabled]="bookForm.form.pristine || bookForm.form.invalid" (onClick)="updateBook()"></p-button>
  </div>
</div>
