html, body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

p-menu {
  > .ui-menu {
    border: 0;
    width: 100%;
    border-radius: 0;
    background-color: transparent;
  }
}
